@import '../../main/vars.css';

.About {
    color: var(--text-color);
    font-family: var(--text-font-family);
    opacity: 0.6;
    justify-content: end;
    font-size: 1.05rem;

}

.heading{
    margin-left: -3.85%;
    margin-bottom: -6.7%;
    z-index: -1;
    font-size: 5rem;
    font-weight: bold;
    color: #2D2A2A;
    transition: 0.3s ease-in-out;
  }
  
  .About:hover .heading{
    color: var(--hov-color);   
  }

  .Content{
    text-align: justify;
    text-justify: inter-word;
  }

  .Content:hover{
      color:white
  }
  
  
  @media only screen and (max-width: 992px) {
  
    .heading {
        margin: 0;
        z-index: 0;
        font-size: 2.5rem;
    }
  }
  
  