@import '../../main/vars.css';

.About {
    color: var(--text-color);
    font-family: var(--text-font-family);
    opacity: 0.8;
    justify-content: end;
    font-size: 1.05rem;

}

.heading{
    /* margin-left: -3.85%; */
    margin-bottom: -5%;
  }
  
  .About:hover .heading{
    color: var(--hov-color);   
  }

  .Content{
    text-align: justify;
    text-justify: inter-word;
  }

  .Content:hover{
      color:var(--text-color)
  }
  
