@import '../../main/vars.css';


.Content{
    align-content: center;
    text-align: center;
    display: flex;
    /* border: 0.05px solid white; */

}

.heading{
    margin-bottom: -5.85%;
}

.ExperianceBuilder:hover .heading{
    color: var(--hov-color);   
}
