@import "../src/main/vars.css";

* {
  box-sizing: border-box;
  /* border: 0.05px solid red; */
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100%;
  width: 100%;
}

::selection {
  color: #000; /* WebKit/Blink Browsers */
  background: var(--hov-color);
}
::-moz-selection {
  color: #000; /* Gecko Browsers */
  background: var(--hov-color);
}

body::-webkit-scrollbar {
  width: 0.35rem;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--hov-color);
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

.example {
  position: absolute !important;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.navbar-dark .navbar-brand {
  font-weight: bold;
  color: var(--text-color);
  transition: 0.8s ease-in-out;
}

.navbar-dark:hover .navbar-brand:hover {
  color: var(--hov-color);
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-size: cover;
}

.section-heading {
  z-index: 100;
  font-size: 4.2rem;
  font-weight: bold;
  color: #2d2a2a;
  transition: 0.3s ease-in-out;
}

.section-heading:hover {
  color: var(--hov-color);
}

@media only screen and (max-width: 992px) {
  .section-heading {
    margin: 0;
    z-index: 0;
    font-size: 2.5rem;
    color: var(--hov-color);
  }
}

svg {
  pointer-events: none;
}
